extends ./layout.jade
block pagina
 form(method="post" action="/admin" enctype="multipart/form-data")
  each file in files
    div(class="box")
     article(class="media")
      div(class="media-left")
       figure(class="image is-64x64")
        img(src="#{ file.url }" alt="Image")
     
        
      div(class="media-content")
       div(class="content")
        p
         strong()=file.titulo
         br
         p()=file.descripcion
          
      nav(class="level")
       div(class="level-left")
        a(class="level-item")
         span(class="icon is-small")
          input(name="selection" type="radio" value="#{ file.id }")       
     
  button(class="button is-dark" type="submit") Seleccionar 
   
   
   
   
   
       
       
      
