extends ./layout.jade
block pagina
 h2(class="pacifico big blue") archivos
 p Subidos al VideoWall
 
  each file in files
   
    div(class="col-md-4 colsm-6 col-xs-12 inline-block")
     h3(class="pacifico")=file.titulo
     p(style="margin-top:1em;") #[small(class="lato small") #{file.descripcion} ] 
     img(src="#{ file.url }" class="col-xs-7 col-md-4 no-float") 
