extends ./layout.jade
block pagina
  container(class="full-height text-center")
   div(class="data")
    div(class="col-md center-block no-float top-space")
     img(src="imgs/logo.png" class=".img-circle")
     h1 Nike VideoWall Config
