doctype html
html(lang="es")
 head
  meta(charset="utf-8")
  meta(name="viewport" content="width=device-width, initial-scale=1")    
  link(href="/css/bulma.css" rel="stylesheet")
  link(href="/css/bulma.css.map" rel="stylesheet")
  


 body(style="height:100%;width:100%;")
  section(class="hero is-large is-bold" style="height:100%")
    section(class="hero is-large is-dark")
     nav(class="nav nav-center has-shadow")
      div(class="container is-fluid")
       div(class="nav-center")
        a(class="nav-item is-tab" href="/") Inicio
        a(class="nav-item is-tab" href="/upload") Subir
        a(class="nav-item is-tab" href="/files") Archivos
    div(class="container is-fluid" style="height:100%" )    
     block pagina
      
   
