extends ./layout.jade
block pagina

     
     form(method="post" action="/upload" enctype="multipart/form-data" style="margin-top:1.5em;")
      div()
       label(class="label") Video o Imagen
       p(class="control")
        input(class="input" name="titulo" type="text" placeholder="Titulo del video o de la imagen" required)
       p(class="control")
         label(class="label") Descripcion
         textarea(name="descripcion" placeholder="Descripcion del video o de la imagen" style="width:100%;" cols="20" rows="5")
       p(class="control is-horizontal")
       label(class="label") Seleccione un archivo
        div(class="control is-grouped")
           
           p(class="control is-expanded")
            input(type="file" name="subido" required)
            p(class="control")
             button(class="button is-dark" type="submit") Subir
       
